---
import ArticleListLayout from '../layouts/ArticleList.astro';
import TagList from '../components/TagList.astro';

const allArticles = Astro.fetchContent('./articles/*.md').sort((a, b) => {
  return new Date(b.date) - new Date(a.date);
});
const tags = Array.from(allArticles.reduce((tags, article) => {
  for (const tag of article.tags) {
    tags.add(tag);
  }
  return tags;
}, new Set()));
---
<ArticleListLayout
  title="TOP"
  description="uki00a.github.io"
  articles={allArticles}
>
  <section slot="additional-sections" class="mt-4">
    <h2 class="text-lg font-semibold">タグ</h2>
    <TagList tags={tags} />
  </section>
</ArticleListLayout>
