---
export interface Props {
  articles: object[];
}
const { articles } = Astro.props;
---
<ul>
<!-- TODO: Is there a better way to generate absolute URLs? -->
{articles.map(a => <li><a href={"." + a.url}>{a.title}</a></li>)}
</ul>
