---
import { joinSiteAndPath } from '../util.js';

export interface Props {
  articles: object[];
}

const { articles } = Astro.props;
---
<ul class="list-disc list-inside">
<!-- TODO: Is there a better way to generate absolute URLs? -->
{
  articles.map(a => (
    <li>
      <a
        href={joinSiteAndPath(Astro.site, a.url)}
        class="text-blue-500">
        {a.title}
      </a>
    </li>
  ))
}
</ul>
