---
import BaseLayout from './Base.astro';
// TODO: Stop using github-markdown-css
import 'github-markdown-css/github-markdown.css';

const {content} = Astro.props;
const {title, description, publishDate} = content;
---

<BaseLayout title={title} description={description}>
  <style global>
  .markdown-body ul {
    @apply list-disc
  }
  </style>
  <div class="markdown-body">
    <h1>{title}</h1>
    <slot />
  </div>
</BaseLayout>
