---
import BaseLayout from '../layouts/Base.astro';
import ArticleList from '../components/ArticleList.astro';

export interface Props {
  title: string;
  description: string;
  articles: object[];
}

const { title, description, articles } = Astro.props;
---
<BaseLayout
  title={title}
  description={description}>
  <div>
    <section>
      <h2 class="text-lg font-semibold">記事</h2>
    </section>
    <section>
      <ArticleList articles={articles} />
    </section>
    <slot name="additional-sections" />
  </div>
</BaseLayout>
