---
import BaseLayout from './Base.astro';
// TODO: Stop using github-markdown-css
import 'github-markdown-css/github-markdown.css';

const {content} = Astro.props;
const {title, description, publishDate} = content;
---

<BaseLayout title={title} description={description}>
  <div class="markdown-body">
    <slot />
  </div>
</BaseLayout>
