---
import BaseHead from '../components/BaseHead.astro';

const {title, description} = Astro.props;
const maybeTrackingID = process.env.TRACKING_ID;
---
<html lang="ja">
  <head>
    <BaseHead
      title={title + " - uki00a.github.io"}
      description={description}
      trackingID={maybeTrackingID}
    />
  </head>
  <body class="h-screen bg-gray-100">
    <header class="bg-yellow-300 bg-gradient-r p-3">
      <div>
        <a
          class="text-xl text-white font-semibold p-3"
          href={Astro.site}>
          uki00a.github.io
        </a>
      </div>
    </header>
    <main class="container mx-auto">
      <article class="p-4 bg-gray-100">
        <slot />
      </article>
    </main>
    <script>
    document.querySelectorAll('link[href^="/_astro"]').forEach(function(el) {
      // TODO: Unable to fetch CSS files on github pages
      el.href = "/blog" + el.href;
    });
    </script>
  </body>
</html>
