---
import BaseHead from '../components/BaseHead.astro';

const {title, description} = Astro.props;
const maybeTrackingID = process.env.TRACKING_ID;
---
<html lang="ja">
  <head>
    <BaseHead
      title={title + " - uki00a.github.io"}
      description={description}
      trackingID={maybeTrackingID}
    />
  </head>
  <body class="bg-gray-100 overoll-y-scroll">
    <header class="bg-yellow-300 bg-gradient-r p-3 flex justify-between">
      <a
        class="text-xl text-white font-bold"
        href={Astro.site}>
        uki00a.github.io
      </a>
      <div class="hidden md:block">
        <a
          class="text-white text-lg mr-3 font-semibold"
          target="_blank"
          href="https://github.com/uki00a/blog">
          GitHub
        </a>
        <a
          class="text-white text-lg font-semibold"
          target="_blank"
          href="https://twitter.com/uki00a">
          Twitter
        </a>
      </div>
    </header>
    <main class="container mx-auto min-h-screen bg-gradient-r">
      <article class="p-4 bg-gray-100">
        <slot />
      </article>
    </main>
    <script>
    document.querySelectorAll('link[href^="/_astro"]').forEach(function(el) {
      // TODO: Unable to fetch CSS files on github pages
      const link = document.createElement("link");
      const url = new URL(el.href);
      url.pathname = "/blog" + url.pathname;
      link.href = url.href;
      document.body.appendChild(link);
    });
    </script>
  </body>
</html>
